@use '../abstracs/variables' as *;
#__next {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px color($colors-light, shadow);
    padding: 20px;
    background-color: color($colors-light, task-bg);
  
    &.dark-mode {
      background-color: color($colors-dark, task-bg);
      box-shadow: 0px 4px 10px color($colors-dark, shadow);
    }
  }
  
  #app-container {
    position: relative;
    border-radius: 10px;
    width: $container-width;
    height: $container-height;
    padding: $container-padding;
    @include gradient-border($gradient-colors, $gradient-thickness);
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-clip: padding-box;
    box-shadow: 0 4px 8px color($colors-light, shadow);
    background-color: color($colors-light, task-bg);
  
    &.dark-mode {
      background-color: color($colors-dark, task-bg);
      box-shadow: 0 4px 8px color($colors-dark, shadow);
    }
  }